#!/bin/bash

devel=develval
release_maj_version=rmversion
release_sub_version=rsversion
mirror="mirrorval"
mirror=${mirror:-"liu"}

declare -A mirrors

mirrors['liu']='esg-dn2.nsc.liu.se/esgf'
mirrors['aims']='aims1.llnl.gov/esgf'
mirrors['ceda']='dist.ceda.ac.uk/esgf'
mirrors['ipsl']='distrib-coffee.ipsl.jussieu.fr/pub/esgf'

if [ "$mirror" = "ipsl" ]; then
    bootstrap_file='esg-bootstrap';
else
    bootstrap_file="esg-bootstrap.${mirror}"
fi
mirrorurl=${mirrors["$mirror"]}    


if [ $devel -eq 1 ]; then
	wget -O $bootstrap_file http://${mirrorurl}/dist/devel/$release_maj_version/$release_sub_version/esgf-installer/$bootstrap_file --no-check-certificate
	chmod 555 $bootstrap_file
	./$bootstrap_file --devel
else
	wget -O $bootstrap_file http://esg-dn2.nsc.liu.se/esgf/dist/$release_maj_version/$release_sub_version/esgf-installer/$bootstrap_file --no-check-certificate
	chmod 555 $bootstrap_file
	./$bootstrap_file

fi
